config VIDEO_EXYNOS_FIMC_LITE
	bool "Exynos Camera Interface(FIMC-Lite) driver"
	depends on VIDEO_EXYNOS && (ARCH_EXYNOS4 || ARCH_EXYNOS5)
	select MEDIA_EXYNOS
	default n
	help
	  This is a v4l2 driver for exynos camera interface device.
