#
# Configuration for JPEG
#

config VIDEO_JPEG_V2X
	bool "Samsung JPEG_v2.x driver"
	depends on VIDEO_SAMSUNG
	default n
	depends on VIDEO_DEV && VIDEO_V4L2
	depends on !VIDEO_JPEG_MX
	select V4L2_MEM2MEM_DEV
	---help---
	  This is a Samsung JPEG H/W driver for V2.x

config VIDEO_JPEG_DEBUG
	bool "print JPEG debug message"
	depends on VIDEO_JPEG_V2X
	default n
